:root {
    --xpos: 150px;
    --ypos: 250px;
}

*, *:before, *:after {
  box-sizing: border-box;
}

body {
    overflow-x: hidden;
    overflow-y: hidden;
}

.main {
    /* background-image: url("../images/sed2.jpg"), linear-gradient(to right, #ea5455 35%, #ffaa71); */
    background-image:
        linear-gradient(0deg, #3C3B6E, #3C3B6E),
        repeating-linear-gradient(180deg, #B22234, #B22234 7.7%, white 7.7%, white 15.4%);
    background-size: 40% 53.85%, 100% 100%;
    background-repeat: no-repeat;
    background-position: top left;
    border-radius: 5px;
    font-family: 'Arvo', serif;
    height: 100vh;
    width: 100%;
    color: #ececec;
    padding: 10px;
    overflow: hidden;
}

.nav {
    margin: 0;
    margin-top: -50px;
    padding: 5px;
    list-style: none;
    float: right;
    border: 1px solid black;
    border-radius: 5px;
    background-color: #3C3B6E;
    box-shadow: 5px 3px 3px #000;
}

li:last-child {
    padding-left: 10px;
    padding-right: 10px;
}

.item {
    display: inline;
    padding: 10px 10px 10px 0px;
}

.logo {
    font-size: 4rem;
    padding-left: 10px;
    color: #f2395a;
    width: 20%;

    transform: skew(-5deg, -5deg) rotate(5deg);
    transform-origin: center center;
    text-shadow: 1px 1px #d10e31,
                 2px 2px #d10e31,
                 3px 3px #d10e31,
                 4px 4px #d10e31,
                 5px 5px #d10e31,
                 6px 6px #d10e31,
                 7px 7px #d10e31,
                 8px 8px #890920,
                 9px 9px #890920,
                 10px 10px #890920,
                 11px 11px 15px rgba(0,0,0,0.5);
}

.link a:link, a:visited {
    color: #fff;
    text-decoration: none;
}

.link a:hover {
    cursor: pointer;
    color: lightgray;
}

.donate {
    border: 1px solid red;
    border-radius: 5px;
    background-color: red;
    box-shadow: 5px 3px 3px #000;
}

.donate a:link, .donate a:visited {
    color: #fff;
    background-color: red;
    text-decoration: none;
}

.donate a:hover {
    color: pink;
}

h1 {
    display: inline;
    font-size: 4rem;
}

.tilt {
    font-style: italic;
    color: #f2395a;
}

.content {
    max-width: 600px;
    margin-top: 3%;
}

.sed {
    position: absolute;
    top: 35%;
    left: 85%;
    max-height: 500px;
}

.bold {
    font-weight: bold;
}

input {
    border-width: 0px;
}

input[type=text] {
    border: 1px solid #c6c7cc;
    border-radius: 5px;
    padding: 6px;
    font-family: 'Arvo', serif;
    width: 150px;
}

input[type=submit] {
    border: 1px solid #c6c7cc;
    border-radius: 5px;
    padding: 6px;
    font-family: 'Arvo', serif;
    background-color: #f2395a;
    color: #fff;
    font-weight: bold;
}

@media only screen and (max-width: 768px) {
    .sed {
        position: absolute;
        top: 35%;
        left: 75%;
        max-height: 500px;
    }

    .content {
        max-width: 300px;
        margin-top: 6%;
    }

    input[type=text] {
        display: block;
        margin-top: 10px;
        width: 50%;
    }

    input[type=submit] {
        display: block;
        margin-top: 10px;
        width: 50%;
    }
}